.jumbotron {
    padding: 30px 0;
    color: black(38, 38, 44);
    background-color: #e9ecef(60, 60, 112);
    width: 100%;
    text-align: center;
    border-bottom: 10px solid rgb(9, 157, 243);
    margin-bottom: 10px;
  }